@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 20px;
    margin: 0;
    padding: 0;
    background: transparent;
    position: absolute;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #9e9a99;
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-track:hover {
    background: #00000010;
  }
}
